apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: solar-monitoring
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/UltraDard/app-jour4.git'
    targetRevision: HEAD
    path: monitoring
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
